<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vkethana</title>
  <meta name="description" content="Vijay Kethanaboyina personal website">
  <link rel="stylesheet" href="../css/style.css?v=2">
</head>
<body>

<header>
  <h1 class="center" id="header">Vijay Kethanaboyina</h1>
  <nav class="center">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li><a href="index.html">Home</a></li>
        <li><a href="reading_log.html">Reading Log</a></li>
        <li><a href="writings.html">Writings</a></li>
    </ul>
  </nav>
</header>

<!-- Main content -->

</body>
</html>


