---
layout: nonpost
title: Vijay's Blog
---
<div>
</div>
<div class="posts">
  <h2>Machine Learning</h2>
  {% assign ml_posts = site.tags['machine-learning'] %}
  {% if ml_posts %}
    {% assign ml_posts = ml_posts | sort: 'date' | reverse %}
    <ul>
      {% for post in ml_posts %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No machine learning posts yet.</p>
  {% endif %}

  <h2>Linguistics</h2>
  {% assign ling_posts = site.tags['linguistics'] %}
  {% if ling_posts %}
    {% assign ling_posts = ling_posts | sort: 'date' | reverse %}
    <ul>
      {% for post in ling_posts %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No linguistics posts yet.</p>
  {% endif %}

  <h2>All Posts</h2>
  <ul>
    {% for post in site.posts %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  You can subscribe to an RSS feed of these posts <a href="{{ "/feed.xml" | prepend: site.baseurl }}">here</a>.
</div>
