<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
	vkethana
</title>

<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="shortcut icon" href="/dark-poole/assets/favicon.ico" />
{% seo %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHP8MNS84G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DHP8MNS84G');
</script>

</head>
