<body>
    <div class="container">
        <h1 class="center">My Projects</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="image-column">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://cs61a.org/proj/scheme">Scheme Interpreter</a></td>
                    <td>Python-based Scheme evaluator and interpreter</td>
                    <td>
                        <img src="/assets/images/scheme.png" alt="Scheme Interpreter">
                    </td>
                </tr>
                <tr>
                    <td><a href="https://sp24.datastructur.es/projects/proj2a/">Ngordnet</a></td>
                    <td>Browser-based tool for exploring the history of word usage in English texts</td>
                    <td>
                        <img src="/assets/images/ngordnet.svg" alt="Ngordnet">
                    </td>
                </tr>
                <tr>
                    <td><a href="placeholder_url">FactGrid Cuneiform Project</a></td>
                    <td>Develop machine learning model to segment and transcribe dataset of 1,068 Cuneiform tablets using the YOLOv8 architecture</td>
                    <td>
                        <img src="/assets/images/factgrid.png" alt="FactGrid Cuneiform Project">
                    </td>
                </tr>
                <tr>
                    <td><a href="https://sp24.datastructur.es/projects/proj3/">BYOW (Build Your Own World)</a></td>
                    <td>Procedural random world generation algorithm built in Java</td>
                    <td>
                        <img src="/assets/images/byow.png" alt="BYOW">
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/vkethana/balloon-tracking-software">Helium Balloon Project</a></td>
                    <td>OpenCV-powered object tracking for helium balloons</td>
                    <td>
                        <img src="/assets/images/balloon.png" alt="Helium Balloon Project">
                    </td>
                </tr>
                <tr>
                    <td><a href="https://rational.vkethana.com">The David Deutsch Lexicon</a></td>
                    <td>Online database of quotes from prolific science author and quantum physicist David Deutsch. Utilizes <a href="https://docs.google.com/spreadsheets/d/1xTxusR0Mfy5eE5vbe8wjIAVwvfojvHzCse_J_fUteZc/edit?gid=0#gid=0">Google Sheets</a> as a backend database to allow for seamless and near-real-time updates</td>
                    <td>
                        <img src="/assets/images/david_deutsch_lexicon.png" alt="The David Deutsch Lexicon">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
