<div class="container">
	<table>
			<thead>
					<tr>
							<th>Name</th>
							<th>What is it?</th>
							<th>Link</th>
					</tr>
			</thead>
			<tbody>
					<tr>
							<td><a href="#cognateful">Cognateful</a></td>
							<td>LLM-Powered Language Learning</td>
							<td><a href="#cognateful">View</a></td>
					</tr>
					<tr>
							<td><a href="#risc-v-cpu">RISC-V CPU</a></td>
							<td>Designed RISC-V CPU in Logisim</td>
							<td><a href="#risc-v-cpu">View</a></td>
					</tr>
					<tr>
							<td><a href="#digit-classifier">Handwritten Digit Classifier</a></td>
							<td>ML algorithm in RISC-V assembly to classify digits</td>
							<td><a href="#digit-classifier">View</a></td>
					</tr>
					<tr>
							<td><a href="#factgrid-cuneiform">FactGrid Cuneiform Project</a></td>
							<td>ML model to segment and transcribe Cuneiform tablets</td>
							<td><a href="#factgrid-cuneiform">View</a></td>
					</tr>
					<tr>
							<td><a href="#david-deutsch-dictionary">The David Deutsch Dictionary</a></td>
							<td>Online database of quotes with Google Sheets backend</td>
							<td><a href="#david-deutsch-dictionary">View</a></td>
					</tr>
					<tr>
							<td><a href="#scheme-interpreter">Scheme Interpreter</a></td>
							<td>Python-based evaluator and interpreter for Scheme</td>
							<td><a href="#scheme-interpreter">View</a></td>
					</tr>
					<tr>
							<td><a href="#balloon-tracking">Helium Balloon Project</a></td>
							<td>OpenCV-powered object tracking for helium balloons</td>
							<td><a href="#balloon-tracking">View</a></td>
					</tr>
					<tr>
							<td><a href="#byow">BYOW (Build Your Own World)</a></td>
							<td>Pseudo-random world generation algorithm in Java</td>
							<td><a href="#byow">View</a></td>
					</tr>
					<tr>
							<td><a href="#convolutions">2D Convolutions Optimizer</a></td>
							<td>Parallelizable 2D discrete convolutions algorithm</td>
							<td><a href="#convolutions">View</a></td>
					</tr>
			</tbody>
	</table>
</div>

