<div class="container">
	<table>
			<thead>
					<tr>
							<th>Name</th>
							<th>What is it?</th>
							<th>Link</th>
					</tr>
			</thead>
			<tbody>
					<tr>
							<td><a href="#cognateful">Cognateful</a></td>
							<td>LLM-Powered Language Learning</td>
							<td><a href="#cognateful">View</a></td>
					</tr>
					<tr>
							<td><a href="#nerfs">NeRFs from Scratch</a></td>
							<td>Implemented NeRFs (Neural Radiance Fields) to reconstruct a rotating 3D scene from 2D images.</td>
							<td><a href="#nerfs">View</a></td>
					</tr>
					<tr>
						<td><a href="#diffusion">Flow Matching Models from Scratch</a></td>
						<td>Implemented a flow-matching generative model with classifier-free guidance (CFG) to synthesize novel handwritten digits from noise.</td>
						<td><a href="#diffusion">View</a></td>
					</tr>
					<tr>
						<td><a href="#gso">GSO: Challenging Software Optimization Tasks for Evaluating SWE-Agents</a></td>
						<td>Designed automated pipeline to evaluate SWE agents</td>
						<td><a href="#gso">View</a></td>
					</tr>
					<tr>
						<td><a href="#pintos">PintOS (Operating Systems Class Project)</a></td>
						<td>Implemented kernel extensions for the PintOS operating system</td>
						<td><a href="#pintos">View</a></td>
					</tr>
					<tr>
							<td><a href="#risc-v-cpu">RISC-V CPU</a></td>
							<td>Designed pipelined RISC-V CPU in Logisim</td>
							<td><a href="#risc-v-cpu">View</a></td>
					</tr>
					<tr>
							<td><a href="#factgrid-cuneiform">FactGrid Cuneiform Project</a></td>
							<td>ML model to segment & transcribe Cuneiform tablets</td>
							<td><a href="#factgrid-cuneiform">View</a></td>
					</tr>
					<tr>
							<td><a href="#david-deutsch-dictionary">The David Deutsch Dictionary</a></td>
							<td>Online database of quotes with Google Sheets backend</td>
							<td><a href="#david-deutsch-dictionary">View</a></td>
					</tr>
			</tbody>
	</table>
</div>

